html,
body {
  height: 100vh;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.content-wrapper {
  width: calc(100% - 230px);
  float: right;
}

.sidebar {
  width: 230px;
  height: 100vh;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

/* 	Responsive Navigation */
@media screen and (max-width: 767.8px) {
  .content-wrapper {
    width: 100%;
    float: none;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .dashboard-header {
    margin-top: 90px;
  }
}
